$photo-sizes: 200px;
$name-color: rgba(47, 79, 79, 1);
$rank-color: rgba(139, 0, 0, 1);
$rank-bcg-color: rgba(255, 255, 255, 1);
$rank-sqr-sizes: 32px;
$extra-info-color: rgba(0, 0, 0, 1);
$person-bcg-hover: rgba(238, 238, 238, 1);
